html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
.btn {
  padding: 0.5rem 1rem;
  font-size: 1rem;

  border-radius: 0.5rem;
  background-color: #bb4444;
  cursor: pointer;

  display: 'flex';
  align-items: 'center';
  justify-content: 'center';
  width: 100;
  height: 50;

  cursor: 'pointer';
}

.btn:hover {
  opacity: 0.6;
}
